.contact-section {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}


form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input, form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 20px;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background: #555;
}

.form-message {
  margin-top: 15px;
  font-weight: bold;
  color: red;
}

footer{
    margin-bottom: 0px;
}